# Normalize line endings
* text=auto eol=lf

# Godot Asset Library ZIP — include only what the user needs
/**                            export-ignore
/addons                        !export-ignore
/addons/**                     !export-ignore
/cuberact-library-examples     !export-ignore
/cuberact-library-examples/**  !export-ignore
